background-color: white;
text-align: center;
font-size: 14;
font-style: italic;
line-height: 45px;
}

.heading {
color: black;
}

#photo {
text-align: centre;
}

#line {
font-style: italic;

}

=img {
float: right;
}
